.present {
  background: #050814 url("../img/line-maker.svg") 50% 50% repeat;
  background-size: 8.75rem;
  height: 100vh;
  padding-top: 7.5rem;
  &__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    align-items: center;
    @media (max-width: 992px) {
      top: 0;
      transform: none;
      align-items: flex-start;
    }
  }
  &__photo {
    width: 31.25rem;
    height: 31.25rem;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, .4);
    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @media (max-width: 992px) {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    @media (max-width: 510px) {
      width: 100vw;
      height: 100vw;
    }
  }
  &__content {
    width: calc(100% - 41.25rem);
    @media (max-width: 992px) {
      width: 100%;
    }
    @media (max-width: 992px) and (min-width: 510px) {
      text-align: center;
    }
  }
  &__title {
    color: #fff;
  }
  &__subtitle {
    color: #787878;
    margin-bottom: 2.5rem;
  }
  &__btn {
    transition: all 0.4s ease;
    &:hover {
      box-shadow: 40px 0px 45px 0px rgba(24, 79, 145, 0.5);
    }
    @media (max-width: 992px) {
      margin: 0 auto;
    }
  }
  @media (max-width: 992px) {
    min-height: 100vh;
    height: auto;
    padding-top: 60px;
  }
}